<h1>Welcome to Secret Santa Fun!</h1>
<h3>Organise your own Secret Santa online.</h3>
<br>

<form action="/names" method="post">
  <label for="name">
    <b>Your details:</b>
    <br>
    <br>
    <input type="text" placeholder="Name" name="participant_1_name"></input>
  </label>

  <label for="email">
    <b>and</b>
    <input type="text" placeholder="Email" name="participant_1_email"></input>
  </label>
  <br>
  <br>
  <br>

  <label for="participant_2_name">
    <b>Other Secret Santa participants:</b>
    <br>
    <br>
    <input type="text" placeholder="Name" name="participant_2_name"></input>
  </label>

  <label for="email"><b>and</b>
    <input type="text" placeholder="Email" name="participant_2_email"></input>
  </label>
  <br>
  <br>

  <input type="text" placeholder="Name" name="participant_3_name"></input>

  <label for="email"><b>and</b>
    <input type="text" placeholder="Email" name="participant_3_email"></input>
  </label>
  <br>
  <br>

  <input type="text" placeholder="Name" name="participant_4_name"></input>

  <label for="email"><b>and</b>
    <input type="text" placeholder="Email" name="participant_4_email"></input>
  </label>
  <br>
  <br>
  <input type="text" placeholder="Name" name="participant_5_name"></input>

  <label for="email"><b>and</b>
    <input type="text" placeholder="Email" name="participant_5_email"></input>
  </label>
  <br>
  <br>

  <input type="text" placeholder="Name" name="participant_6_name"></input>

  <label for="email"><b>and</b>
    <input type="text" placeholder="Email" name="participant_6_email"></input>
  </label>
  <br>
  <br>

  <input type="submit" value="Submit">
</form>
