<h1>Welcome to Secret Santa Fun!</h1>
<h3>Organise your own Secret Santa online.</h3>
<br>

<form action="/names" method="post">
  <label for="name">
    <b>Your details:</b>
    <br>
    <br>
    <input type="text" placeholder="Name" name="name"></input>
  </label>

  <label for="email">
    <b>and</b>
    <input type="text" placeholder="Email" name="email"></input>
  </label>
  <br>
  <br>
  <br>

  <label for="names">
    <b>Other Secret Santa participants:</b>
    <br>
    <br>
    <input type="text" placeholder="Name" name="names"></input>
  </label>

  <label for="email"><b>and</b>
    <input type="text" placeholder="Email" name="emails"></input>
  </label>
  <br>
  <br>

  <input type="submit" value="Submit">
</form>
